.area-code {
    width: 50px !important;
    border-radius: 50px !important;
    height: 50px;
    background-color: 	#9bd4e4 !important;
    border: none !important;
    color: 	#fff !important;
}

form {
    margin: auto !important;
}
form div {
    display: inline-block;
}

.mobile-input {
    margin-left: 10px !important;
    width: 240px !important;
    border-radius: 50px !important;
    height: 50px;  
    text-align: center;
}